<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= campground.image %>" class="card-img-top" alt="campground image">
                <div class="card-body">
                    <h3 class="card-title">
                        <%= campground.title %>
                    </h3>
                    <h4 class="card-title">
                        <%= campground.location %>
                    </h4>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text">
                        $<%= campground.price %> / Night
                    </p>
                    <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-warning">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>